<%- include("../partials/head-pages") %>
<body>
  <header class="cart-header">
    <div class="container"><%- include("../partials/nabvar") %></div>

    <div class="hero-pages">
      <div class="container hero-flex">
        <div class="hero__title">
          <img src="/img/add-product.png" alt="" />
          <h1><span>Agregar</span> libro</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Admin</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add product</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="about-us py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="about-us__title">
              <i class="fa-solid fa-circle-plus fa-2xl"></i>
              <h4>Formulario para agregar un libro</h4>
            </div>
            <form method="post" action="/products/admin/create" enctype="multipart/form-data" class="row g-3 needs-validation mb-5 py-4" novalidate>
              <div class="col-md-8">
                <label for="name-product" class="form-label"
                  >Nombre del libro</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name-product"
                  name="name"
                  placeholder="Ejemplo: La Divina Comedia"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-4">
                <label for="genero" class="form-label">Géneros</label>
                <select
                  multiple
                  class="form-select"
                  name="gender"
                  id="genero"
                >
                <option value="Acción">Acción</option>
                <option value="Comedia">Comedia</option>
                <option value="Drama">Drama</option>
                <option value="Ciencia">Ciencia Ficción</option>
                <option value="Novelas">Novelas</option>
                <option value="Terror">Terror</option>
                <option value="Suspenso">Suspenso</option>
                <option value="Documentales">Documentales</option>
                </select>
                <div class="valid-feedback">Looks good!</div>
              </div>

              <div class="col-md-8">
                <div class="mb-3">
                  <label for="description" class="form-label"
                    >Descripción</label
                  >
                  <textarea
                    class="form-control"
                    name="description"
                    id="description"
                    rows="3"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="imagen" class="form-label"
                    >Imágen del libro</label
                  >
                  <input
                    type="file"
                    class="form-control"
                    name="imagen"
                    id="imagen"
                    placeholder="Suba una o más imágenes"
                    aria-describedby="fileHelpId"
                  />
                  <small id="fileHelpId" class="form-text text-muted"
                    >Necesita ayuda?</small
                  >
                </div>
              </div>

              <div class="col-md-4">
                <label for="name-autor" class="form-label">Autor</label>
                <input
                  type="text"
                  class="form-control"
                  id="name-autor"
                  name="name-autor"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-4">
                <label for="editorial" class="form-label">Editorial</label>
                <input
                  type="text"
                  class="form-control"
                  id="editorial"
                  name="editorial"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-4">
                <label for="isbn" class="form-label">ISBN</label>
                <input
                  type="text"
                  class="form-control"
                  id="isbn"
                  name="isbn"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>

              <div class="col-md-12">
                <p class="lead">
                  Especificaciones del libro
                </p>
                <hr>
              </div>
              <div class="col-md-3">
                <label for="precio" class="form-label">Precio</label>
                <input
                  type="text"
                  class="form-control"
                  id="precio"
                  name="precio"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-3">
                <label for="stock" class="form-label">Stock</label>
                <input
                  type="text"
                  class="form-control"
                  id="stock"
                  name="stock"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-3">
                <label for="material" class="form-label">Material</label>
                <input
                  type="text"
                  class="form-control"
                  id="material"
                  name="material"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-3">
                <label for="formato" class="form-label">Formato</label>
                <input
                  type="text"
                  class="form-control"
                  id="formato"
                  name="formato"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="d-grid gap-2 d-md-block mt-4">
                <button class="btn btn-primary-booksarmy " type="submit">
                  Cargar producto
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include("../partials/footer") %>
</body>
</html>
