  <%- include("partials/head-pages") %>
  <body>
    <header class="cart-header">
      <div class="container"><%- include("partials/nabvar") %></div>

      <div class="hero-pages">
        <div class="container hero-flex">
          <div class="hero__title">
            <img src="/img/about.png" alt="" />
            <h1><span>Sobre</span> Nosotros</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="about-us py-5">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h3>Quienes somos</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis viverra nibh cras pulvinar mattis. Semper auctor neque vitae tempus quam pellentesque. Morbi blandit cursus risus at ultrices. Enim praesent elementum facilisis leo vel fringilla est. A diam sollicictum at.</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
