<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booksarmy</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <!-- Left content -->
      <div class="container__half">
        <h1>
          <img
            src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif"
            width="35px"
          />
          Booksarmy está en construcción
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
          exercitationem minima suscipit a dignissimos magnam eaque? Harum modi
          architecto obcaecati reprehenderit, fugit porro placeat. Magnam quo
          qui assumenda obcaecati amet.
        </p>

        <img src="https://i.ibb.co/ctF0sBC/image-9.jpg" width="20%" />
      </div>

      <!-- Right content -->
      <div class="container__half bg_img"></div>
    </div>
  </body>
</html>
