<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <%- include("partials/nabvar") %>
        <div class="hero">
          <div class="hero__title">
            <h2>Conocé nuestros libros</h2>
            <div class="hero__btns">
              <a href="#" class="btn btn-secondary-booksarmy">Ver libros</a>
              <a href="#" class="ml-1"> Sobre nosotros</a>
            </div>
          </div>
          <div class="hero__img">
            <img src="/img/bg-hero.jpg" alt="" />
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="container categorias">
        <h2>Categorias</h2>
        <div class="container">
          <div class="card_banner oferta">
            <h3>Ofertas</h3>
          </div>
          <div class="card_banner genero">
            <h3>Generos</h3>
          </div>
          <div class="card_banner vendidos">
            <h3>Más vendidos</h3>
          </div>
          <div class="card_banner colecciones">
            <h3>Colecciones</h3>
          </div>
        </div>
      </section>

      <section class="recomendaciones">
        <div class="container">
          <h2>Recomendaciones</h2>
          <div class="recomendaciones__cards">
            <div class="card">
              <img src="/img/books/mockups/alquimista.png" alt="" />

              <h3 class="card-title">El Alquimista</h3>

              <div class="card-footer">
                <div class="card-precio">
                  <p>$ 6.000</p>
                </div>
                <div class="card-icons">
                  <i class="fas fa-heart fa-lg"></i>
                  <i class="fas fa-share fa-lg"></i>
                  <a href="#"><i class="fas fa-cart-arrow-down fa-lg"></i></a>
                </div>
              </div>
            </div>
            <div class="card">
              <img src="/img/books/mockups/cien-anios-soledad.png" alt="" />
              <h3 class="card-title">Cien años de soledad</h3>
              <div class="card-footer">
                <div class="card-precio">
                  <p>$ 2.000</p>
                </div>
                <div class="card-icons">
                  <i class="fas fa-heart fa-lg"></i>
                  <i class="fas fa-share fa-lg"></i>
                  <i class="fas fa-cart-arrow-down fa-lg"></i>
                </div>
              </div>
            </div>
            <div class="card">
              <img src="/img/books/mockups/codigo-davinci.png" alt="" />
              <h3 class="card-title">El Código Da Vinci</h3>
              <div class="card-footer">
                <div class="card-precio">
                  <p>$ 1.000</p>
                </div>
                <div class="card-icons">
                  <i class="fas fa-heart fa-lg"></i>
                  <i class="fas fa-share fa-lg"></i>
                  <i class="fas fa-cart-arrow-down fa-lg"></i>
                </div>
              </div>
            </div>
            <div class="card">
              <img src="/img/books/mockups/divina-comedia.png" alt="" />
              <h3 class="card-title">La Divina Comedia</h3>
              <div class="card-footer">
                <div class="card-precio">
                  <p>$ 800</p>
                </div>
                <div class="card-icons">
                  <i class="fas fa-heart fa-lg"></i>
                  <i class="fas fa-share fa-lg"></i>
                  <i class="fas fa-cart-arrow-down fa-lg"></i>
                </div>
              </div>
            </div>
            <div class="card">
              <img
                src="/img/books/mockups/don-quijote-de-la-mancha.png"
                alt=""
              />
              <h3 class="card-title">Don Quijote de la Mancha</h3>
              <div class="card-footer">
                <div class="card-precio">
                  <p>$ 1.000</p>
                </div>
                <div class="card-icons">
                  <i class="fas fa-heart fa-lg"></i>
                  <i class="fas fa-share fa-lg"></i>
                  <i class="fas fa-cart-arrow-down fa-lg"></i>
                </div>
              </div>
            </div>
            <div class="card">
              <img
                src="/img/books/mockups/el-señor-de-los-anillos-lacomunidaddelanillo.png"
                alt=""
              />
              <h3 class="card-title">El señor de los anillos</h3>
              <div class="card-footer">
                <div class="card-precio">
                  <p>$ 1.000</p>
                </div>
                <div class="card-icons">
                  <i class="fas fa-heart fa-lg"></i>
                  <i class="fas fa-share fa-lg"></i>
                  <i class="fas fa-cart-arrow-down fa-lg"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="articulos">
        <div class="articulos__item">
          <div class="articulos__card">
            <h3>Titulo</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non error
              alias quasi
            </p>
          </div>
        </div>
        <div class="articulos__item">
          <div class="articulos__card">
            <h3>Titulo</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non error
              alias quasi
            </p>
          </div>
        </div>
      </section>

      <section class="ofertas-increibles">
        <div class="container">
          <div class="ofertas-increibles__title">
            <h2>Ofertas imperdibles .</h2>
          </div>

          <div class="ofertas-increibles__slider">
            <div class="slider__card">
              <img
                src="/img/books/portadas/El julguero-Donna-Tartt.jpg"
                alt=""
              />
              <p>Precio</p>
            </div>
            <div class="slider__card">
              <img
                src="/img/books/portadas/El alquimista - Coelho.jpg"
                alt=""
              />
              <p>Precio</p>
            </div>
            <div class="slider__card">
              <img src="/img/books/portadas/Rayuela-Cortazar.jpg" alt="" />
              <p>Precio</p>
            </div>
            <div class="slider__card">
              <img
                src="/img/books/portadas/El hobbit - JRR Tolkien.jpg"
                alt=""
              />
              <p>Precio</p>
            </div>
          </div>
        </div>
      </section>

      <section class="important">
        <div class="container call-to-action">
          <div class="call-to-action__descripcion">
            <h4>Queres estár al día con nuestras promociones</h4>
            <p>Lorem ipsum dolor siasda sa deserunt illo quo</p>
          </div>

          <div class="call-to-action__btns">
            <a
              name=""
              id=""
              class="btn btn-primary-booksarmy"
              href="#"
              role="button"
              >Suscribirme</a
            >
            <a
              name=""
              id=""
              class="btn btn-gray-700-booksarmy"
              href="#"
              role="button"
              >Contacto</a
            >
          </div>
        </div>
      </section>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
