<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booksarmy - Register</title>
    <script
      src="https://kit.fontawesome.com/79d4a4a910.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="/img/logos/Logo 13-blue.svg" alt="" />
        </a>
      </div>
    </header>
    <main>
      <div class="login-form">
        <div class="login-titles">
          <h2>Registrate</h2>
          <p>
            Si ya estás registrado, por favor ingresá:
            <a href="/login">acá!</a>
          </p>
        </div>

        <form action="/users/register" method="POST">
          <label for="email" class="inp">
            <input type="email" id="email" placeholder="&nbsp;" name="email" />
            <span class="label">
              <i class="fa-solid fa-envelope"></i>
              Dirección de correo electrónico
            </span>
            <span class="focus-bg"></span>
          </label>

          <label for="user" class="inp">
            <input
              type="text"
              id="user"
              placeholder="&nbsp;"
              name="first_name"
              required
            />
            <span class="label">
              <i class="fa fa-user fa-md" aria-hidden="true"></i>
              Usuario
            </span>
            <span class="focus-bg"></span>
          </label>

          <label for="password" class="inp">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="&nbsp;"
            />
            <span class="label">
              <i class="fa-solid fa-key"></i>
              Contraseña
            </span>
            <span class="focus-bg"></span>
          </label>

          <label for="password_confirm" class="inp">
            <input
              type="password"
              id="password_confirm"
              name="password_confirm"
              placeholder="&nbsp;"
            />
            <span class="label">
              <i class="fa-solid fa-lock"></i>
              Confirmá tu contraseña
            </span>
            <span class="focus-bg"></span>
          </label>

          <button type="submit" class="btn btn-secondary-booksarmy">
            Registrarse
          </button>

          <div class="form-group social-btns">
            <p>O continuá con</p>
            <i class="fa fa-apple fa-xl" aria-hidden="true"></i>
            <i class="fa fa-facebook-official fa-xl" aria-hidden="true"></i>
            <i class="fa fa-google fa-xl" aria-hidden="true"></i>
          </div>
        </form>
      </div>
      <div class="login-img">
        <img src="img/register/Saly-16.png" alt="" />
      </div>
    </main>
  </body>
</html>
