header {
  text-align: center;
  padding: 1rem;
  position: relative;
  z-index: 999;
}

main {
  max-width: 1200px;
  margin: 0 auto;

  padding: 1.5rem;
  color: #00214d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

main .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

main .login-form .login-titles p {
  margin: 0.5rem;
}

main .login-form .login-titles h2 {
  font-weight: 700;
}

.login-form .login-titles a {
  text-decoration: none;
  font-weight: 700;
  color: #ff5470;
}

.login-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.login-form form .reset-olvidar a {
  text-align: right;
  text-decoration: none;
  font-weight: 700;
  color: #00214d;
}

.social-btns {
  text-align: center;
}

main .login-img {
  display: none;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.inp input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}
.inp input:hover {
  color: #000;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.8);
}
.inp input:not(:-moz-placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:-ms-input-placeholder) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 #00214d;
}
.inp input:focus + .label {
  color: #00214d;
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

main .login-form form button {
  margin-top: 1rem;
  border-radius: 2rem;
  width: 100%;
  padding: 0.7rem;
  text-transform: uppercase;
  box-shadow: 0px 4px 26px rgba(27, 45, 69, 0.2);
}

@media (min-width: 992px) {
  header {
    text-align: left;
  }
  main {
    padding: 0.5rem 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  main .login-form {
    width: 50%;
    gap: 1.5rem;
    text-align: left;
  }

  main .login-form h2 {
    margin: 0.2rem;
    font-size: 2rem;
    text-align: left;
  }

  main .login-form form {
    width: 90%;
    align-items: flex-start;
    gap: 1rem;
  }

  main .login-form form .social-btns {
    align-self: center;
  }

  main .login-img {
    display: block;
    width: 50%;
    background-color: #f2f4f6;
    border-radius: 1rem;
  }
}

@media (min-width: 1200px) {
  main {
    margin-top: 3rem;
    padding: 0.5rem 4rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  main .login-form {
    width: 40%;
    gap: 1.5rem;
    text-align: left;
  }

  main .login-form h2 {
    margin: 0.2rem;
    font-size: 2rem;
    text-align: left;
  }

  main .login-form form {
    width: 90%;
    align-items: flex-start;
    gap: 1rem;
  }

  main .login-form form .social-btns {
    align-self: center;
  }

  main .login-img {
    width: 60%;
    text-align: center;
  }
}
