@import "modules/mixins";
@import "modules/base";

header {
  position: relative;
  .hero-pages {
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/overlay.svg), url(../img/bg-hero2.jpg);

    .hero-flex {
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .hero__title {
        text-align: center;
        padding: 0 2rem;

        span{
          color: $color-primary-500;
        }

        img {
          display: none;
        }

        h1 {
          font-weight: 600;
          padding-top: 5rem;
          color: #fff;
        }
        p, .breadcrumb li a {
          color: rgb(212, 212, 212);
        }
      }

      @include md {
        justify-content: flex-start;
        .hero__title {
          text-align: left;

          img {
            display: block;
            width: 100px;
          }
          h1 {
            padding-top: 1rem;
          }
        }
      }
    }
  }
}

nav.navbar {
  background-color: #fff;

  .navbar__bottom-bar-mobile {
    background-color: #fff;

    .form-mobile {
      padding: 0 1rem;
      input#search {
        width: 100%;
      }
    }
  }
}

main {
  section.cart-table {
    padding: 6rem 0;

    .cart-table__title{
      background-color: #fff;
      padding: 1.5rem;
      border-left: 4px solid $color-primary-600;

      display: flex;
      align-items: center;
      gap: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

      i{
        color: $color-primary-600;
      }

      h4{
        margin-bottom: 0;
      }
    }

    .table-responsive {
      margin-top: 1.5rem;

      thead tr {
        border-bottom: 2px solid $color-gray-400 !important;
      }
    }

    #checkout {
      padding-top: 1.5rem;
      @include md {
        text-align: right;
        padding-top: 0;
      }
    }
  }

  section.book {
    background-color: $gray-color;
    padding: 2rem 1rem;

    .container {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      padding: 2rem 1rem;

      .book-portada {
        height: 100%;
        width: 100%;

        img {
          width: 100%;
        }
      }
      .book-descripcion {
        h2 {
          display: none;
        }
        .book-descripcion-precio {
          margin: 1rem 0;
        }
        .book-descripcion-resumen {
          text-align: justify;
        }
        .book-descripcion-cantidad {
          padding: 2rem 0;
        }
      }
    }
  }

  section.book-author {
    padding: 2rem 1rem;

    #accordionExample {
      font-family: Poppins, helvetica, sans-serif;
      margin-top: 1.5rem;

      .accordion-item {
        button:active {
          outline: none;
          border: 0;
        }
      }
    }
  }

  section.book-author-biography {
    background-color: $blue-color;
    color: $white-color;
    padding: 5rem 1rem;

    .author-bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      &_img img {
        width: 100%;
      }

      &_desc {
        padding: 1rem 0;

        p {
          margin: 2rem 0;
        }
      }
    }
  }

  section.book-anothers {
    background-color: $gray-color;
    color: $blue-color;
    padding: 5rem 0;

    .slider-cards {
      padding: 1rem 0;
      display: flex;
      gap: 1rem;

      &_item {
        position: relative;
        width: 250px;

        img {
          width: 250px;
          height: 100%;
        }

        p {
          color: $blue-color;
          position: absolute;
          bottom: 1rem;
          left: 0;
          background-color: #fff;
          padding: 0.8rem 1rem;
          margin-bottom: 0;
          font-weight: 500;
        }
      }
    }
  }

  section.about-us{
    background-color: $forms-bg;
    
    .about-us__title{
      background-color: #fff;
      padding: 1.5rem;
      border-top: 5px solid $color-primary-600;

      display: flex;
      align-items: center;
      gap: 1.5rem;

      i{
        color: $color-primary-600;
      }

      h4{
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $grid-breakpoint-md) {
  main {
    section.book {
      background-color: $gray-color;
      padding: 2rem 1rem;

      .container {
        flex-wrap: nowrap;
        align-items: center;
        text-align: left;
        padding: 2rem 1rem;

        .book-portada {
          width: 40%;
          h2 {
            display: none;
          }

          img {
            width: 100%;
          }
        }
        .book-descripcion {
          width: 60%;
          h2 {
            display: block;
          }
        }
      }
    }

    section.book-author-biography {
      .author-bio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        &_img img {
          width: 100%;
        }

        &_desc {
          padding: 1rem 0;

          p {
            margin: 2rem 0;
          }
        }
      }
    }
  }
}
