@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/** Colores **/
html {
  font: 100% "Poppins", sans-serif;
}

body {
  color: #1b2d45;
  background-color: #fffffe;
  font-weight: 400;
  line-height: 1.75;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

input, textarea, select {
  padding: .6rem !important;
  border-radius: 2px !important;
}

input:focus, textarea:focus, select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-primary-booksarmy {
  background-color: #00ebc7;
  border-color: #00ebc7;
  color: #000;
  font-weight: 500;
}

.btn-primary-booksarmy:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 235, 199, 0.25);
          box-shadow: 0 0 0 3px rgba(0, 235, 199, 0.25);
}

.btn-primary-booksarmy:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
          box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
}

.btn-secondary-booksarmy {
  background-color: #00214d;
  border-color: #00214d;
  color: #fff;
}

.btn-secondary-booksarmy:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 33, 77, 0.25);
          box-shadow: 0 0 0 3px rgba(0, 33, 77, 0.25);
}

.btn-secondary-booksarmy:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
          box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
}

.btn-danger-booksarmy {
  background-color: #ff5470;
  border-color: #ff5470;
  color: #fff;
}

.btn-danger-booksarmy:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 84, 112, 0.25);
          box-shadow: 0 0 0 3px rgba(255, 84, 112, 0.25);
}

.btn-danger-booksarmy:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
          box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
}

.btn-success-booksarmy {
  background-color: #3edd4e;
  border-color: #3edd4e;
  color: #0b6a37;
  font-weight: 700;
}

.btn-success-booksarmy:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(62, 221, 78, 0.25);
          box-shadow: 0 0 0 3px rgba(62, 221, 78, 0.25);
}

.btn-success-booksarmy:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
          box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
}

.btn-info-booksarmy {
  background-color: #147dff;
  border-color: #147dff;
  color: #fff;
}

.btn-info-booksarmy:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(20, 125, 255, 0.25);
          box-shadow: 0 0 0 3px rgba(20, 125, 255, 0.25);
}

.btn-info-booksarmy:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
          box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
}

.btn-warning-booksarmy {
  background-color: #fde24f;
  border-color: #fde24f;
  color: #00214d;
}

.btn-warning-booksarmy:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(253, 226, 79, 0.25);
          box-shadow: 0 0 0 3px rgba(253, 226, 79, 0.25);
}

.btn-warning-booksarmy:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
          box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
}

.btn-gray-700-booksarmy {
  background-color: #454f5b;
  border-color: #454f5b;
  color: #fff;
}

.btn-gray-700-booksarmy:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(69, 79, 91, 0.25);
          box-shadow: 0 0 0 3px rgba(69, 79, 91, 0.25);
}

.btn-gray-700-booksarmy:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
          box-shadow: inset 0 3px 5px rgba(27, 45, 69, 0.125);
}

.btn-xl {
  padding: 1.2rem 2rem;
  font-weight: 700;
}

@-webkit-keyframes display-on {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes display-on {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

header {
  position: relative;
}

header .form,
header .form-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

header .form input,
header .form-mobile input {
  width: 100%;
  padding: 6px 12px;
  font-size: 1rem;
  text-align: start;
  line-height: 24px;
  color: #1b2d45;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

header .form {
  display: none;
}

header .navbar {
  background-color: #fffffe;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar__top-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

header .navbar__top-bar div {
  margin: 10px 0;
}

header .navbar__top-bar .icons {
  display: none;
}

header .navbar__top-bar .icons a {
  text-decoration: none;
  color: #1b2d45;
}

header .navbar__top-bar .icons a:hover {
  color: #00cabe;
}

header .navbar__bottom-bar {
  display: none;
}

header .navbar__bottom-bar-mobile {
  width: 100%;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

header .navbar__bottom-bar-mobile ul {
  padding-left: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}

header .navbar__bottom-bar-mobile ul li {
  padding: 0.5rem 0;
  margin: 0.3rem 0;
  border-bottom: 1px solid rgba(27, 45, 69, 0.125);
}

header .navbar__bottom-bar-mobile ul li a {
  color: #1b2d45;
  text-decoration: none;
}

header .navbar__bottom-bar-mobile #form-mobile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar__bottom-bar-mobile .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .navbar__bottom-bar-mobile .contact a {
  color: #1b2d45;
  text-decoration: none;
}

header .hero {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(45deg, #C7F5FE 10%, #C7F5FE 40%, #FCC8F8 40%, #FCC8F8 60%, #EAB4F8 60%, #EAB4F8 65%, #F3F798 65%, #F3F798 90%);
  gap: 2rem;
}

header .hero .hero__title {
  text-align: center;
}

header .hero .hero__title h2 {
  font-weight: 600;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

main {
  overflow: hidden;
}

main .categorias {
  padding: 1rem;
}

main .categorias .card_banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .categorias .card_banner h3 {
  text-transform: uppercase;
  font-weight: 700;
}

main .categorias .container {
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
      grid-template-areas: "oferta" "genero" "vendidos" "colecciones";
}

main .categorias .oferta {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: oferta;
  background: #94BAFF;
  height: 260px;
}

main .categorias .genero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: genero;
  background: #C7F5FE;
  height: 260px;
}

main .categorias .vendidos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: vendidos;
  background: #FCC8F8;
}

main .categorias .colecciones {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: colecciones;
  background: #44536B;
  height: 260px;
  color: #fffffe;
}

main .recomendaciones {
  background: #f2f4f6;
  padding: 2rem;
}

main .recomendaciones h2 {
  font-weight: 500;
}

main .recomendaciones__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

main .recomendaciones__cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .recomendaciones__cards .card:hover {
  cursor: pointer;
  -webkit-box-shadow: 4px 16px 19px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 16px 19px -3px rgba(0, 0, 0, 0.1);
}

main .recomendaciones__cards .card img {
  width: 100%;
  position: relative;
}

main .recomendaciones__cards .card .card-title {
  margin: 0;
  padding: 0.8rem 1rem;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #f2f4f6;
  border-top: 0;
  font-weight: 500;
}

main .recomendaciones__cards .card .card-footer {
  padding: 0.8rem 0.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .recomendaciones__cards .card .card-footer .card-precio {
  padding: 0 1.5rem;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

main .recomendaciones__cards .card .card-footer .card-precio p {
  font-size: 1.2rem;
  margin: 0;
}

main .recomendaciones__cards .card .card-footer .card-icons {
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.8rem;
}

main .recomendaciones__cards .card .card-footer .card-icons a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main .recomendaciones__cards .card .card-footer .card-icons a:hover {
  color: #00a3a9;
}

main .articulos {
  margin: 2rem 0;
  padding: 3rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .articulos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 80vh;
  background-color: #ff5470;
  background-image: url("../img/emil-widlund-xrbbXIXAWY0-unsplash.jpg");
  background-size: cover;
  background-position: top center;
}

main .articulos__item:first-child {
  background-color: #00214d;
  background-image: url("../img/reading-mountain.jpg");
  background-size: cover;
  background-position: center center;
}

main .articulos__card {
  margin-bottom: 1rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #fff;
}

main .ofertas-increibles {
  padding: 1rem;
}

main .ofertas-increibles__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

main .ofertas-increibles__slider .slider__card img {
  height: 300px;
  width: 230px;
}

main .ofertas-increibles__slider .slider__card p {
  margin: 0;
}

main .important {
  background-color: #f2f4f6;
}

main .call-to-action {
  margin-top: 1rem;
  padding: 3rem;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .call-to-action__btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
}

main .call-to-action__btns a {
  text-decoration: none;
}

footer {
  background-color: #fffffe;
  padding: 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2rem;
}

footer .footer-top,
footer .footer-top__links,
footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .footer-top__links,
footer .footer-top__links__links,
footer .footer-bottom__links {
  margin-top: 1rem;
  gap: 2rem;
}

footer .footer-top__links a,
footer .footer-top__links__links a,
footer .footer-bottom__links a {
  color: #1b2d45;
  text-decoration: none;
  text-transform: uppercase;
}

footer .footer-bottom {
  padding: 1rem 0;
}

footer .footer-bottom__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-bottom__copy {
  margin-top: 1rem;
}

@media (min-width: 576px) {
  header .hero {
    height: 80vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .call-to-action {
    margin-top: 1rem;
    padding: 1rem;
    height: 30vh;
  }
  main .call-to-action__btns {
    width: auto;
  }
}

@media (min-width: 768px) {
  .navbar__bottom-bar-mobile,
  #btn-navbar {
    display: none;
  }
  header .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .form input[type="search"] {
    border: 1px solid #ccc;
  }
  header .navbar__bottom-bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .navbar__bottom-bar .contact,
  header .navbar__bottom-bar .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  header .navbar__bottom-bar .contact a,
  header .navbar__bottom-bar .links a {
    text-decoration: none;
    color: #1b2d45;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
  }
  header .navbar__bottom-bar .links a.active {
    font-weight: 800;
  }
  header .hero {
    height: 60vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
  }
  header .hero .hero__title {
    text-align: left;
    padding: 0 2rem;
    width: 50%;
  }
  header .hero .hero__title h2 {
    margin-bottom: 3.4rem;
    padding-left: 0 !important;
  }
  main .categorias .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
        grid-template-areas: "oferta genero vendidos" "colecciones colecciones vendidos";
  }
  main .categorias .oferta {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: oferta;
  }
  main .categorias .genero {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: genero;
  }
  main .categorias .vendidos {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: vendidos;
  }
  main .categorias .colecciones {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: colecciones;
  }
  main .recomendaciones__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
  main .recomendaciones__cards .card {
    width: 48%;
  }
  main .recomendaciones__cards .card .card-title {
    font-size: 1.4rem;
  }
  main .recomendaciones__cards .card .card-footer {
    padding: 0.5rem 2rem;
  }
  main .recomendaciones__cards .card .card-footer .card-precio,
  main .recomendaciones__cards .card .card-footer .card-icons {
    padding: 0;
  }
  main .recomendaciones__cards .card .card-footer .card-icons {
    gap: 0.5rem;
  }
  main .articulos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  main .articulos__item {
    height: 60vh;
    border: none;
  }
  main .articulos__card {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 65%;
  }
  main .articulos__card h3,
  main .articulos__card p {
    margin: 2px;
  }
  main .articulos__card p {
    line-height: 20px;
  }
  main .ofertas-increibles__slider {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 1rem;
  }
  main .ofertas-increibles__slider .slider__card {
    height: 250px;
    width: 250px;
  }
  main .call-to-action {
    height: auto;
    padding: 1.5rem 0;
  }
  main .call-to-action__descripcion {
    margin-bottom: 1rem;
  }
  main .call-to-action__descripcion h4 {
    margin-bottom: 2px;
  }
  main .call-to-action__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer {
    padding: 1rem;
    margin-top: 3rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 0;
  }
  footer .footer-top,
  footer .footer-bottom {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-top__links,
  footer .footer-bottom__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0;
    margin-bottom: 4px;
    gap: 1.5rem;
  }
  footer .footer-bottom {
    padding: 0;
  }
  footer .footer-bottom__social {
    width: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    gap: 1rem;
  }
  footer .footer-bottom__social i {
    font-size: 1em;
  }
  footer .footer-bottom__copy {
    margin-top: 0;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    text-align: right;
  }
}

@media (min-width: 992px) {
  header .form input[type="search"] {
    width: 400px;
  }
  header .navbar__top-bar .icons {
    display: block;
  }
  header .navbar__top-bar .icons i {
    margin: 0 0.3rem;
  }
  header .navbar__bottom-bar .contact,
  header .navbar__bottom-bar .links {
    gap: 2rem;
  }
  header .hero {
    padding: 0 2rem;
    height: 60vh;
    margin-top: 0.5rem;
    overflow: hidden;
    gap: 0;
  }
  header .hero .hero__title {
    text-align: left;
    width: 55%;
  }
  header .hero .hero__title h2 {
    font-size: 3.441rem;
  }
  main .recomendaciones__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
  }
  main .recomendaciones__cards .card {
    padding: 1rem 0;
    width: 30%;
  }
  main .recomendaciones__cards .card:hover .card-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: display-on 0.5s ease-in-out both;
            animation: display-on 0.5s ease-in-out both;
  }
  main .recomendaciones__cards .card .card-title {
    border-bottom: 0;
  }
  main .recomendaciones__cards .card .card-footer {
    visibility: hidden;
    padding: 0.5rem 2rem;
  }
  main .recomendaciones__cards .card .card-footer .card-precio,
  main .recomendaciones__cards .card .card-footer .card-icons {
    padding: 0;
  }
  main .recomendaciones__cards .card .card-footer .card-icons {
    gap: 0.5rem;
  }
  main .call-to-action {
    margin-top: 4rem;
    padding: 4rem 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .call-to-action__descripcion {
    margin-bottom: 0;
    text-align: left;
  }
  main .call-to-action__descripcion h4,
  main .call-to-action__descripcion p {
    margin: 0;
  }
  main .call-to-action__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  main .categorias {
    padding: 5rem 0;
  }
  main .recomendaciones {
    padding: 5rem 0;
  }
  main .articulos {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  main .articulos__item {
    height: 50vh;
    border: none;
    width: 100%;
  }
  main .articulos__card {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 65%;
    margin-bottom: 4rem;
  }
  main .articulos__card h3,
  main .articulos__card p {
    margin: 0.8rem;
  }
  main .articulos__card p {
    line-height: 25px;
  }
  main .ofertas-increibles {
    margin: 4rem 0;
  }
  main .ofertas-increibles__slider {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 1rem;
  }
  main .ofertas-increibles__slider .slider__card {
    height: auto;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */