<%- include("../partials/head-pages") %>
<body>
  <header class="cart-header">
    <div class="container"><%- include("../partials/nabvar") %></div>

  <main>
    <section class="about-us py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3>Mi perfil</h3>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include("../partials/footer") %>
</body>
</html>
