<%- include("../partials/head-pages") %>
  <body>
    <header class="cart-header">
      <div class="container">
        <%- include("../partials/nabvar") %>
      </div>

      <div class="hero-pages">
        <div class="container hero-flex">
          <div class="hero__title">
            <img src="/img/target.png" alt="target" />
            <h1><span>Todos</span> nuestros libros</h1>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="cart-table">
        <div class="container">
          <div class="row">
            <div class="col-12">
              // sector de libros
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("../partials/footer")  %> 
  </body>
</html>
